{% extends 'base.html' %}
{% block title %}
Create
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-5">

                    <h2 class="text-center mb-4 fw-bold text-primary">
                        Create Todo
                    </h2>

                    <form action = "" method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                        <div class="row mb-4 align-items-center">

                            <!-- Fixed Width Label -->
                            <div class="col-md-3">
                                <label class="fw-semibold">
                                    {{ field.label }}
                                </label>
                            </div>

                            <!-- Input -->
                            <div class="col-md-9">
                                {{ field }}

                                {% if field.errors %}
                                    <div class="text-danger small mt-1">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                        {% endfor %}

                        <div class="d-grid mt-4">
                            <button type="submit"
                                    class="btn btn-primary btn-lg rounded-3">
                                Save Todo
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}